# 🔒 SECURITY & KEYS (SABSE ZAROORI - NEVER PUSH)
android/key.properties
android/app/upload-keystore.jks
*.jks
*.keystore
.env

# 📦 BUILD FILES (Badi files jo push nahi karni)
build/
android/app/build/
*.aab
*.apk

# 🛠️ FLUTTER TEMP FILES
.dart_tool/
.packages
.pub-cache/
.pub/